

.post_message{
    font-family: 'Kanit', sans-serif;
    font-size: 1.1rem;
    width: 80%;
    
}

.post_button{
    font-family: 'Kanit', sans-serif;
    font-size: 1.1rem;
    
}

.post_button:hover{
    font-family: 'Kanit', sans-serif;
    font-size: 1.1rem;
    background-color: #175734;

}

.post_element{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width : 1200px){
    .post_element{
        height: 20%;
        width : 20%;
    }

}
    
